aiohappyeyeballs==2.4.4
aiohttp==3.11.10
aiolimiter==1.2.1
aiosignal==1.3.1
aliyun-python-sdk-core==2.15.1
altair==5.5.0
altgraph==0.17.4
amqp==5.3.1
annotated-types==0.7.0
anyio==4.7.0
appdirs==1.4.4
argcomplete==3.6.1
asgiref==3.8.1
asttokens==2.4.1
attrs==24.2.0
Automat==24.8.1
av==12.3.0
azure-cognitiveservices-speech==1.36.0
babel==2.17.0
bce-python-sdk==0.9.35
billiard==4.2.1
black==25.1.0
blinker==1.9.0
bottle==0.13.3
build==1.2.2.post1
buildozer==1.5.0
cachetools==5.5.2
celery==5.4.0
certifi==2024.8.30
cffi==1.17.1
charset-normalizer==3.4.0
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
clr_loader==0.2.7.post0
colorama==0.4.6
coloredlogs==15.0.1
comm==0.2.2
constantly==23.10.4
conversion==0.0.7
convertapi==2.0.0
cryptography==44.0.0
daphne==4.1.2
dataclasses-json==0.6.7
debugpy==1.8.1
decorator==5.1.1
Deprecated==1.2.18
dill==0.4.0
diskcache==5.6.3
distlib==0.3.9
distro==1.9.0
Django==5.0.2
docx2pdf==0.1.8
executing==2.0.1
fastapi==0.115.6
fastapi-jwt-auth==0.5.0
filelock==3.16.1
fire==0.7.0
flake8==7.2.0
Flask==3.1.1
flask-babel==4.0.0
flask-cors==6.0.1
Flask-Googletrans==0.11
flatbuffers==25.2.10
fonttools==4.57.0
fpdf==1.7.2
frozenlist==1.5.0
fsspec==2024.10.0
future==1.0.0
gitdb==4.0.12
GitPython==3.1.44
googletrans==4.0.2
greenlet==3.2.2
h11==0.14.0
h2==4.2.0
hpack==4.1.0
html2image==2.0.7
httpcore==1.0.7
httptools==0.6.4
httpx==0.28.1
humanfriendly==10.0
hwp-extract==0.1.0
hyperframe==6.1.0
hyperlink==21.0.0
idna==3.10
img2pdf==0.6.0
imgkit==1.2.3
importlib_metadata==8.7.0
importlib_resources==6.5.2
incremental==24.7.2
intel-openmp==2021.4.0
ipykernel==6.29.4
ipython==8.24.0
isort==6.0.1
itsdangerous==2.2.0
jedi==0.19.1
Jinja2==3.1.4
jiter==0.8.2
jmespath==0.10.0
jsonpatch==1.33
jsonpointer==3.0.0
jsonschema==4.23.0
jsonschema-specifications==2025.4.1
jupyter_client==8.6.1
jupyter_core==5.7.2
kombu==5.4.2
langchain==0.1.20
langchain-community==0.0.38
langchain-core==0.1.53
langchain-openai==0.1.1
langchain-text-splitters==0.0.2
langsmith==0.1.147
loguru==0.7.3
lxml==5.3.0
markdown-it-py==3.0.0
MarkupSafe==3.0.2
marshmallow==3.26.1
matplotlib-inline==0.1.7
mccabe==0.7.0
mdurl==0.1.2
mkl==2021.4.0
mpmath==1.3.0
multidict==6.1.0
multiprocess==0.70.18
mypy==1.15.0
mypy_extensions==1.1.0
narwhals==1.40.0
nest-asyncio==1.6.0
networkx==3.4.2
numpy==1.26.4
olefile==0.47
openai==1.16.2
orjson==3.10.18
outcome==1.3.0.post0
packaging==23.2
pandas==2.3.1
parso==0.8.4
pathspec==0.12.1
pdf2docx==0.5.8
pdf2image==1.17.0
pefile==2023.2.7
pexpect==4.9.0
pikepdf==9.7.0
pillow==11.3.0
platformdirs==4.2.2
playwright==1.54.0
poppler-utils==0.1.0
prompt-toolkit==3.0.43
propcache==0.2.1
protobuf==4.25.7
proxy_tools==0.1.0
psutil==5.9.8
ptyprocess==0.7.0
pure-eval==0.2.2
pyarrow==20.0.0
pyasn1==0.6.1
pyasn1_modules==0.4.1
PyAudio==0.2.14
pybase16384==0.3.8
pycodestyle==2.13.0
pycparser==2.22
pycryptodome==3.22.0
pydantic==2.11.4
pydantic_core==2.33.2
pydeck==0.9.1
pydub==0.25.1
pyee==13.0.0
pyflakes==3.3.2
pygame==2.6.1
Pygments==2.18.0
pyhwp==0.1b15
pyinstaller==6.15.0
pyinstaller-hooks-contrib==2025.8
PyJWT==1.7.1
PyMuPDF==1.25.5
pyOpenSSL==25.0.0
PyPDF2==3.0.1
pyperclip==1.9.0
pyproject_hooks==1.2.0
PyQt5==5.15.11
PyQt5-Qt5==5.15.2
PyQt5_sip==12.17.0
pyreadline3==3.5.4
pyserial==3.5
PySocks==1.7.1
pystray==0.19.5
python-barcode==0.15.1
python-dateutil==2.9.0.post0
python-docx==1.1.2
python-dotenv==1.0.1
python-escpos==3.1
-e git+https://github.com/kivy/python-for-android.git@fbd525588cc9296ee98b609cc230bafe19b333b7#egg=python_for_android
python-magic-bin==0.4.14
python-pptx==1.0.2
pythonnet==3.0.5
pytz==2024.2
pywebview==6.0
pywin32==311
pywin32-ctypes==0.2.3
PyYAML==6.0.2
pyzmq==26.0.3
qrcode==8.0
referencing==0.36.2
regex==2024.11.6
requests==2.32.3
requests-toolbelt==1.0.0
rich==13.9.4
rpds-py==0.25.0
selenium==4.20.0
setuptools==75.6.0
sh==2.2.2
shellingham==1.5.4
six==1.16.0
smmap==5.0.2
sniffio==1.3.1
sortedcontainers==2.4.0
sqlparse==0.5.3
stack-data==0.6.3
starlette==0.41.3
streamlit==1.34.0
sympy==1.13.1
tbb==2021.13.1
tenacity==8.3.0
tencentcloud-sdk-python-common==3.0.1168
tencentcloud-sdk-python-tts==3.0.1168
termcolor==3.0.1
toml==0.10.2
tornado==6.4
tqdm==4.67.1
traitlets==5.14.3
trio==0.30.0
trio-websocket==0.12.2
typer==0.15.4
typing-inspect==0.9.0
typing-inspection==0.4.0
typing_extensions==4.12.2
tzdata==2024.2
unoconv==0.9.0
urllib3==2.2.3
uvicorn==0.34.0
vine==5.1.0
virtualenv==20.28.0
watchdog==6.0.0
watchfiles==1.0.5
wcwidth==0.2.13
websocket-client==1.8.0
Werkzeug==3.1.3
wheel==0.43.0
whitenoise==6.9.0
win32_setctime==1.2.0
wrapt==1.17.2
wxPython==4.2.3
XlsxWriter==3.2.3
yarl==1.18.3
zipp==3.21.0
zope.interface==7.2
